.button-outline {
  border-radius: 100px;
  padding: 8px 24px;
  outline: none;
  border: 1px solid var(--foreground);
  color: var(--foreground);
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.button-outline:hover {
  background: var(--foreground);
  color: var(--background);
}

.button-link {
  align-self: flex-start;
  border: 0px;
  text-decoration: underline;
  border-radius: 0px;
  padding: 8px 24px;
  outline: none;
  color: var(--foreground);
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.button-link:hover {
  opacity: 0.75;
}
