.masthead {
  width: 100%;
  border-bottom: 1px solid var(--jade-green);
  padding: 16px;
}

.masthead > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.masthead .logo {
  width: 100%;
  max-width: 240px;
  object-fit: contain;
  opacity: 0.85;
}
