.masthead {
  width: 100%;
  border-bottom: 1px solid var(--jade-green);
  padding: 18px;
}

.masthead > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.masthead .logo {
  width: 100%;
  max-width: 220px;
  object-fit: contain;
  opacity: 0.85;
}

.masthead .logo:hover {
  opacity: 0.65;
}

.masthead-nav {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}
