.menu-button {
  font-weight: 500;
  border-radius: 2px;
  grid-gap: 8px;
  flex-direction: column;
  display: flex;
  width: 48px;
  height: 40px;
  background: var(--background);
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  font-size: 14px;
  border: 1px solid var(--jade-green);
  cursor: pointer;
}

.menu-button:hover {
  background: var(--jade-green);
  color: var(--foreground);
}

.menu-button span {
  display: block;
  width: 24px;
  height: 1px;
  background: var(--foreground);
  transition: 0.2s ease-in-out;
}

.button-outline {
  font-weight: 500;
  font-family: Inter;
  border-radius: 2px;
  display: flex;
  height: 100%;
  padding: 12px 20px;
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
  border: 1px solid var(--jade-green);
  cursor: pointer;
}

.button-outline:hover {
  background: var(--jade-green);
  color: var(--foreground);
}
