.menu-button {
  font-weight: 500;
  border-radius: 2px;
  grid-gap: 8px;
  flex-direction: column;
  display: flex;
  width: 48px;
  height: 40px;
  background: var(--background);
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  font-size: 14px;
  border: 1px solid var(--jade-green);
  cursor: pointer;
}

.menu-button:hover {
  background: var(--jade-green);
  color: var(--foreground);
}

.menu-button span {
  display: block;
  width: 24px;
  height: 1px;
  background: var(--foreground);
  transition: 0.2s ease-in-out;
}

.button-outline {
  font-weight: 500;
  font-family: Inter;
  border-radius: 2px;
  display: flex;
  height: 100%;
  padding: 12px 20px;
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
  border: 1px solid var(--jade-green);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.button-outline:hover {
  background: var(--jade-green);
  color: var(--foreground);
}

.button-ghost {
  font-weight: 500;
  font-family: Inter;
  border-radius: 2px;
  display: flex;
  height: 100%;
  padding: 12px 20px;
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
  border: 0px;
  cursor: pointer;
}

.button-ghost:hover {
  background: var(--jade-green);
  color: var(--foreground);
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
  box-shadow: 0 0 0 0.1rem var(--jade-green);
  transform: translateY(-1px);
}
.add-to-cart-button.added {
  background: #2fbf30;
  box-shadow: 0 0 0 0.2rem rgba(11, 252, 3, 0.45);
}
.add-to-cart-button.added .add-to-cart {
  display: none;
}
.add-to-cart-button.added .added-to-cart {
  display: block;
}
.add-to-cart-button.added .cart-icon {
  animation: drop 0.3s forwards;
  -webkit-animation: drop 0.3s forwards;
  -webkit-animation-delay: 0.18s;
  animation-delay: 0.18s;
}
.add-to-cart-button.added .box-1,
.add-to-cart-button.added .box-2 {
  top: 18px;
}
.add-to-cart-button.added .tick {
  animation: grow 0.6s forwards;
  -webkit-animation: grow 0.6s forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.add-to-cart,
.added-to-cart {
  margin-left: 36px;
}

.added-to-cart {
  display: none;
  position: relative;
}
